

/*   max-width: 1039.98px   */
@media (max-width: 1039.98px) {
	.container{
		max-width: 960px;
		padding: 2px 20px 0;
	}
}


/*   max-width: 1049.98px   */
@media (max-width: 1049.98px) {
	.container{
		max-width: 960px;
		padding: 2px 20px 0;
	}
}


/*   max-width: 767.98px   */
@media(max-width: 767.98px){
	.container{
		max-width: 640px;
	}
}
