

@media (max-width: 1439.98px) {
	body{
		font-size: 14px;
	}	
	button {
		padding: 18px 54px;
	}
	.container{
		max-width: 1000px;
		padding: 2px 20px 0;
	}
	/*--Header--*/
	.header {
		.header__menu {
			margin: 0;
		}

		.header__phone {
			flex: 0 0 129px;
		}
		&__phone-icon{
			width: 20px;
			height: 20px;
		}
	}
	.footer {
		&__right {
			flex: 0 0 210px;
		}
		.footer__menu {
			margin: 0;
		}
	}
	.left{
		h2{
			font-size: 30px;
		}
		h3{
			font-size: 30px;
		}
		p{
			// line-height: 16px;
		}
	}
	.atmosphere, .aboutus, .stage{
		min-width: 1000px;
	}
	.atmosphere {
		height: 415px;
		margin-bottom: 150px;
		.atmosphere__left {
			padding: 123px 0 230px;
			// width: 380px;
			.atmosphere__title {
				margin: 0 0 15px 0;
			}
			.atmosphere__text {
				// line-height: 15px;
				width: 300px;
				margin: 0 0 30px 0;
			}
		}
		.atmosphere__img{
			right: 20px;
			width: 655px;
			height: 415px;
		}
	}
	.aboutus {
		.container{
			column-gap: 22px;
		}
		height: 537px;
		.aboutus__left {
			padding: 78px 0 0;
			flex: 0 0 299px;
			.aboutus__tite {
				margin: 0 0 15px 0;
			}
		}
		.aboutus__right::before {
			bottom: -63px;
		}
		.aboutus__right::after {
			bottom: -51px;
		}
		.aboutus__right {
			// height: 377px;
			gap: 21px;
		}
	
	}
	.our-goods {
		.our-goods__left {
			flex: 0 0 300px;
			.our-goods__title {
				margin: 0 0 15px 0;
			}
			.our-goods__text {
				font-size: 10px;
				line-height: normal;
			}
		}
		.our-goods__right{
			flex: 0 0 647px;
			padding: 0;
			row-gap: 67px;
			padding-bottom: 50px;
			margin: 0 0 160px 0;
		}
		.our-goods__item {
			height: 500px;
			width: 290px;
		}
	}
}


@media (max-width: 999.98px) {
	body{
		font-size: 10px;
	}
	.container{
		max-width: 768px;
		padding: 2px 64px 0;
	}
	button {
		padding: 16px 54px;
		font-size: 14px;
	}
	/*--Header--*/
	.header {
		.header__phone {
			flex: 0 0 92px;
		}
		&__phone-icon{
			width: 14px;
			height: 14px;
		}
	}
	.footer {
		padding: 20px 0;
		.container{
			height: 165px;
			display: grid;
			grid-template: 72px 1fr / 70px 1fr;
			justify-content: space-between;
			row-gap: 5px;
		}
		.footer__logo {
			height: 70px;
			flex: 0 0 70px;
		}
		.footer__menu {
			gap: 20px;
			justify-content: end;
		}
		&__right {
			grid-column: 1 / span 2;
			justify-self: center;
			align-items: center;
			row-gap: 10px;
		}
		&__phone {
			margin: 0;
		}
		&__email {
			margin: 0;
		}
		&__social {
			gap: 8px;
		}
		&__icon {
			width: 18px;
			height: 18px;
		}		
	}
	.left{
		h2{
			font-size: 20px;
			line-height: inherit;
		}
		h3{
			font-size: 20px;
		}
		p{
			// line-height: 16px;
		}
	}
	.atmosphere, .aboutus, .stage{
		min-width: 768px;
	}
	.atmosphere {
		overflow: hidden;
		.atmosphere__left {
			padding: 98px 0 124px;
			// width: 380px;
			.atmosphere__title {
				width: 236px;
				line-height: normal;
				margin: 0 0 20px 0;
			}
			.atmosphere__text {
				// line-height: 15px;
				width: 230px;
				line-height: 15px;
				margin: 0 0 20px 0;
			}
			button{
				width: 120px;
				height: 45px;
				font-size: 14px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.atmosphere__img{
			top: 2px;
			right: -122px;
			width: 655px;
			height: 415px;
		}
	}
	.aboutus {
		height: 364px;
		.container{
			column-gap: 49px;
		}
		.aboutus__left {
			padding: 2px 0 0;
			flex: 0 0 199px;
			.aboutus__tite {
				margin: 0 0 20px 0;
			}
			.aboutus__text{
				line-height: normal;
			}
			h2{
				font-size: 15px;
			}
			.aboutus__text:not(:last-child) {
				margin: 0 0 10px 0;
			}
		}
		.aboutus__right::before {
			bottom: -32px;
			left: -21px;
		}
		.aboutus__right::after {
			bottom: -18px;
		}
		.aboutus__right {
			height: 204px;
			display: grid;
			grid-template: 1fr / repeat(3, 1fr);
			align-content: center;
			column-gap: 10px;
			padding-top: 12px;
		}
		&__image{
			margin-bottom: 2px;
		}
		&__img-label{
			font-size: 6px;
		}
		&__img:nth-child(1) &__image{
			width: 120px;
			height: 120px;
		}
		&__img:nth-child(2)  &__image{
			width: 191px;
			height: 195px;
			margin-top: -18px;
		}
		&__img:nth-child(3)  &__image{
			width: 121px;
			height: 120px;
		}
	}
	.our-goods {
		padding-top: 148px;
		.container{
			column-gap: 30px;
		}
		.our-goods__left {
			padding-top: 2px;
			flex: 0 0 199px;
			.our-goods__title {
				font-size: 15px;
				margin: 0 0 15px 0;
			}
			.our-goods__text {
				font-size: 10px;
				line-height: normal;
			}
		}
		.our-goods__right{
			flex: 0 0 416px;
			padding: 0;
			row-gap: 30px;
			padding-bottom: 50px;
			margin: 0 0 160px 0;
		}
		.our-goods__item {
			width: 200px;
			height: 345px;
			grid-template-rows: 214px 1fr 36px;
			.our-goods__img{
				width: 189px;
				height: 214px;
			}
			.our-goods__content{
				padding: 6px 0 0 0;
				p{
					margin-bottom: -2px;
					line-height: 12px;
				}
			}
			.our-goods__price {
				font-size: 12px;
				margin: 0 0 9px 0;
			}
			.our-goods__title{
				font-size: 12px;
				margin: 0 0 8px -14px;
			}
			.our-goods__desc {
				font-size: 8px;
				line-height: normal;
				padding: 0;
				margin: 0;
			}
			.our-goods__button{
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 12px;
				width: 103.497px;
				height: 35.88px;
			}
		}
	}
	
}

@media(max-width: 767.98px){

	.container{
		max-width: 480px;
		padding: 2px 10px 0;
	}
	button {
		padding: 14px 41px;
		font-size: 5px;
	}
	/*--Header--*/
	.header {
		display: grid;
		grid-template: 1fr / 70px 1fr 37px;
		.header__menu {
			display: none;
		}
		&__phone{
		}
		&__burger{
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
		.header__phone {
			justify-content: start;
			padding-left: 136px;
			padding-top: 1px;
		}
		&__phone-icon{
			justify-content: center;
			width: 14px;
			height: 14px;
		}
	}	

	.footer {
		padding: 50px 0;
		font-size: 14px;
		.container{
			height: fit-content;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 50px;
		}
		&__logo{
			width: 70px;
		}
		.footer__menu {
			flex-direction: column;
			gap: 22px;
		}
		&__right {
			align-items: center;
			row-gap: 15px;
			flex: 0;
		}
		&__phone {
			margin: 0;
		}
		&__email {
			margin: 0;
		}
		&__social {
			gap: 15px;
		}
		&__icon {
			width: 22px;
			height: 22px;
		}		
	}
	.atmosphere, .aboutus, .stage{
		min-width: 480px;
	}
	.atmosphere {
		overflow: hidden;
		height: 309px;
		margin-bottom: 50px;
		.atmosphere__left {
			padding: 79px 0;
			.atmosphere__title {
				font-size: 15px;
				letter-spacing: .1px;
				width: 179px;
				margin: 0 0 16px 0;
			}
			.atmosphere__text {
				width: 167px;
				margin: 0 0 14px 0;
				line-height: 12px;
				font-size: 8px;
			}
			button{
				width: 91px;
				height: 34px;
				font-size: 10px;
			}
		}
		.atmosphere__img{
			right: 6px;
			top: 1px;
			height: 334px;
			width: 314px;
		}
		.atmosphere__img img:nth-child(1){
			display: none;
		}
		.atmosphere__img img:nth-child(2){
			display: block;
		}

	}
	.aboutus {
		height: 313px;
		.container{
			column-gap: 17px;
		}
		.aboutus__left {
			flex: 0 0 172px;
			padding: 0px;
			.aboutus__tite {
				margin: 0 0 20px 0;
			}
			.aboutus__text {
				line-height: normal;
			}		
			.aboutus__text:not(:last-child) {
				margin: 0 0 12px 0;
			}
		}
		&__img-label{
			display: none;
		}
		.aboutus__right::before {
			bottom: -64px;
		}
		.aboutus__right::after {
			bottom: -50px;
		}		
		.aboutus__right {
			height: 140px;
			margin-top: 26px;
			gap: 5px;
			align-items: flex-end;
		}
		&__img:nth-child(1) &__image{
			width: 88px;
			height: 80px;
		}
		&__image{
			margin: 0;
		}
		&__img:nth-child(2)  &__image{
			width: 140px;
			height: 140px;
		}
		&__img:nth-child(3)  &__image{
			width: 80px;
			height: 80px;
		}
	}
	.our-goods {
		// padding-top: 150px;
		.container{
			column-gap: 30px;
		}
		.our-goods__left {
			flex: 0 0 199px;
			.our-goods__title {
				font-size: 15px;
				margin: 0 0 15px 0;
			}
			.our-goods__text {
				font-size: 10px;
				line-height: normal;
			}
		}
		.our-goods__right{
			flex: 0 0 416px;
			padding: 0;
			row-gap: 30px;
			padding-bottom: 50px;
			margin: 0 0 160px 0;
		}
		.our-goods__item {
			width: 200px;
			height: 345px;
			grid-template-rows: 214px 1fr 36px;
			.our-goods__img{
				width: 189px;
				height: 214px;
			}
			// .our-goods__content{
			// 	padding: 8px 0 0 0;
			// 	p{
			// 		margin-bottom: -2px;
			// 		line-height: 15px;
			// 	}
			// }
			// .our-goods__price {
			// 	font-size: 16px;
			// 	margin: 0 0 12px 0;
			// }
			// .our-goods__title{
			// 	font-size: 16px;
			// 	margin: 0 0 16px -19px;
			// }
			// .our-goods__desc {
			// 	font-size: 12px;
			// }
		}
	}

}


/*   max-width: 479.98px   */
@media(max-width: 479.98px){
	.container{
		max-width: 360px;
		padding: 0;
	}
	.atmosphere, .aboutus, .stage{
		min-width: 360px;
	}
	.atmosphere {
		height: 181px;
		margin-bottom: 50px;
		.atmosphere__left {
			padding: 30px 0 0;
			.atmosphere__title {
				font-size: 18px;
				width: 233px;
			}
			.atmosphere__text {
				width: 198px;
				font-size: 10px;
			}
		}
		.atmosphere__img{
			right: 0;
			height: 152px;
			width: 113px;
		}
		.atmosphere__img img:nth-child(1),
		.atmosphere__img img:nth-child(2){
			display: none;
		}
		.atmosphere__img img:nth-child(3){
			display: block;
		}

	}
	.aboutus {
		padding-top: 25px;
		height: 172px;
		.container{
			column-gap: 25px;
		}
		.aboutus__left {
			flex: 0 0 234px;
			.aboutus__tite{
				font-size: 15px;
				margin: 0 0 10px 0;
			}
			.aboutus__text{
				font-size: 8px;
			}
		}
		.aboutus__right::before {
			bottom: -44px;
		}
		.aboutus__right::after {
			bottom: -32px;
		}		
		.aboutus__right {
			height: 80px;
			margin-top: 14px;
			display: block;
		}
		&__img:nth-child(1) &__image{
			width: 80px;
			height: 80px;
		}
		&__img:nth-child(2)  &__image,
		&__img:nth-child(3)  &__image{
			display: none;
		}
	}

}
